<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC_2rZZOkyrBpEymVr6bdz40IyP6opMdI</string>
	<key>GCM_SENDER_ID</key>
	<string>579380204834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamcast.eventapp</string>
	<key>PROJECT_ID</key>
	<string>dreamcast-event-app-2024-d3244</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamcast-event-app-2024-d3244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579380204834:ios:d69006316de5cd652d817b</string>
	<key>DATABASE_URL</key>
	<string>https://dreamcast-event-app-2024-d3244-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>